
.dark-mode {
  background-color: hsl(226, 23%, 11%);
  color: white;
}

.color {
  background-color: hsl(227deg 22% 20%);
}

.darkend {
  color:rgb(255, 255, 255) !important;
}

.btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color:white;
}

.top {
  margin-top: 10px;
}

.country {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 615px) {
  .container{
    height: 100%;
  }
}

@media only screen and (min-width: 616px) {
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }  
}

.selector {
 
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.style {
  border-bottom: 8px Blue solid;
  border-top: 8px Blue solid;
  color: Blue;
  border-left: 1px Blue solid;
  border-right: 1px Blue solid;
}
.style1 {
  border-bottom: 8px Red solid;
  border-top: 8px Red solid;
  color: Red;
  border-left: 1px Red solid;
  border-right: 1px Red solid;
}
.style2 {
  border-bottom: 8px Green solid;
  border-top: 8px Green solid;
  color: Green;
  border-left: 1px Green solid;
  border-right: 1px Green solid;
}
.style3 {
  border-bottom: 8px purple solid;
  border-top:  8px purple solid;
  color: purple;
  border-left: 1px purple solid;
  border-right: 1px purple solid;
}